fastapi
uvicorn
python-telegram-bot
pydantic
pydantic-settings
python-dotenv
google-genai
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
langchain
langchain-core
langchain-google-genai
tavily-python
pypdf
python-docx

langgraph
langsmith
langgraph-checkpoint-postgres==3.1.0
apscheduler
sqlalchemy
psycopg2-binary
langchain-ollama
crawl4ai
beautifulsoup4
playwright
langchain-deepseek
langchain-openai
fastapi[standard]